*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
project.default.xml
parameter.hints.xml
jdk.table.xml
Default.xml
androidStudioFirstRun.xml
find.xml
ui.lnf.xml
vcs.xml
androidEditors.xml
colors.scheme.xml
notifications.xml
editor.xml
github.xml
debugger.xml
updates.xml
baseRefactoring.xml
studioFlags.xml
_windows
keymaps
codestyles